:root{
    --header-footer-cl: blueviolet;
    --body-bg: whitesmoke;
    --btn-search: rgb(21, 104, 187);
}

.dark-mode:root{
    --body-bg: rgb(0, 6, 46);
    --dark-b: white;
    --btn-search: rgb(121, 106, 106);
}

html{
    width: 100%;
    height: 100%;
}
.welcome-div{
    display: absolute;
    text-align: center;
}
.welcome-btn-login{
    font-size: 20px;
    color: whitesmoke;
}
.background-login{
    position: absolute;
    height: 100%;
    width: 100%;
}

/* --style header-- */

.body-container{
    background-color: var(--body-bg);
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-footer-cl);
    width: 100%;
    padding: 15px 0px 15px 0px;
}
.header-logo{
    text-shadow: 2px 2px #1B1464;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 30px;
    font-style: oblique;
    color:gold;
    font-weight: bold;
    padding-left: 8px;
}
.nav-container{
    margin-right: 18px;
    display: flex;
    align-items: center;
}
.nav-li{
    display: inline-block;
    white-space: nowrap;
}
.nav-li:hover, .a-logout:hover{
    transition: .3s;
    transform: rotate(-7deg);
    text-decoration: underline;
    color: whitesmoke;
}
.nav-li1{
    display: inline-block;
    white-space: nowrap;
    animation: btn-criar 1s linear  infinite alternate;
}
.btn-dark{
    padding-right: 5px;
}
.input-dark{
    display: none;
}
.a-logout{
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    color:rgb(26, 26, 28);
    padding: 3px;
}
.btn-criar{
    text-transform: uppercase;
    font-weight: 800;
    text-decoration: none;
    color:rgb(26, 26, 28);
    padding: 7px;
    border-radius: 6px;
    background-color: #F79F1F;
}
.btn-criar:hover{
    font-size: 17px;
}

/*--style body--*/

.main-container{
    text-align: center;
}.search{
    margin: 50px 0px 0px 9px;
    display: inline;
    position: initial;
}.form-search{
    margin: 50px 0px 0px 9px;
    text-align: left;
}.text-filmes{
    position: initial;
    font-size: 50px;
    font-style: italic;
}.main-box{
    display: inline;
    vertical-align: top
}.box{
    display: inline-block;
    width: 280px;
    margin: 15px;
    padding: 0px 10px;
}.box-top{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}.title-movie{
    display: block;
    text-align: left;
    font-size: 23px;
}.box-box-content{
    display: block;
}.btn-edit, .btn-destroy{
    margin-left: 10px;  
}.fas.fa-edit ,.fas.fa-trash-alt{
    color: black;
}.form-destroy{
    display: inline-block;
}.img-movie{
    width: 280px;
    height: 340px;
    border-radius: 5px;
}.info-content{
    text-align: left;
}.genre, .country, .release, .rating, .synosis{
    margin-bottom: 7px;
    font-size: 18px;
}

/* --style footer -- */

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: var(--header-footer-cl);
}
.adapti-logo{
    width: 75px;
    padding-left: 15px;
}
.footer-icons{
    display: inline-block;
    padding-right: 25px;
    font-size: 26px;
    text-shadow: 1px 1px 3px #d1d8e0; 

}
.footer-icons:hover{
    animation: icons .5s linear infinite alternate-reverse;
    color: #0fb9b1;
}


@keyframes btn-criar {
    0%{
        transform: translateY(0px) scale(.9);
    }50%{
        transform: translateY(-5px) scale(0.95);
    }
}
@keyframes icons {
    0%{
        transform: translateY(5px);
    }50%{
        transform: translateY(0px);
    }100%{
        transform: translateY(-5px);
    }
}


.botao-pesquisa{
    font-size: 20px;
    border: 0px;
}
.botao-pesquisa1{
    appearance: none;
    font-size: 20px;
    border:0;
    border-radius: 0% 10% 10% 0%;
    background-color:var(--botao-pesquisa);
}

.criar{
    position: relative;
    margin-right: 10px;
}
.botao-criar{
    appearance: none;
    border: 0;
    border-radius: 5px;
    background-color:var(--botao-pesquisa);
    font-size: 16px;
    font-weight: bold;
}
.botao-dark{
    display: inline-block;
    margin-right: 10px;
}


.principal{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 80px;
}
.counteudo{
    width: 220px;
    margin: 15px;
    padding: 0px 10px;
}
.caixa-conteudo{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.caixa-da-caixa-conteudo{
    display: flex;
}
.edite-delete{
    height: 0;
}
.botao-editar{
    background-color: transparent;
    border: 0;
    font-size: 22px;
}

.counteudo:hover .nomes:hover{
    background: rgb(26, 26, 28);
    color: white;
    opacity: 10;
}
.titulo{
    font-size: 18px;
    text-align: left;
}
.imagem{
    padding: 3px 0px;
}
.nomes{
    font-family: Cambria;
    padding: 3px 0px;
    opacity: 1;
}

.rodape{   
    background: var(--headerandfooter-cl);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

